@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.sidemenu {
	width: 100%;

	& > ul {
		border: 1px solid var(--mint);

		& > li {
			padding: 20px;
			font-weight: 600;
			color: var(--primary);
			cursor: pointer;
		}

		& > li:not(:last-child) {
			border-bottom: 1px solid var(--mint);
		}
	}

	ul {
		@extend %list-reset;
		@extend %flex-column;

		li {
			@extend %flex-wrap;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			font-size: 16px;

			svg {
				width: 16px;
				height: 16px;
				fill: var(--secondary);
				transform: rotate(-90deg);
				transition: transform var(--main-transition);
			}

			ul {
				display: none;
				width: 100%;
				opacity: 0;

				li a {
					display: flex;
					width: 100%;
					padding: 3px 20px;
					color: var(--secondary);
					text-decoration: underline;
					@extend %hover-opacity;
				}
			}

			&.expanded {
				svg {
					transform: rotate(90deg);
				}

				ul {
					display: flex;
					padding-top: 12px;
					animation: fadeIn 0.3s var(--main-transition) forwards;
				}
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
