/* purgecss start ignore */
.section {
  padding: var(--section-offset-vertical) 0;

  &--underlined {
    position: relative; 
    margin-bottom: 30px;
  
    &::after {
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 100%;
      max-width: 90vw;
      max-width: 90dvw;
      height: 40px;
      background-image: url("@img/section-afterline.svg"); 
      background-repeat: no-repeat;
      background-position: center; 
    }
  }

  &--decorated {
    position: relative;

    padding: calc(var(--section-offset-vertical) * 2) 0;
    background-size: cover;
    background-position: top;
  
    &::before,
    &::after {
      position: absolute;
  
      left: 0;
      width: 100%;
      height: var(--section-offset-vertical);
      content: '';
      background-size: cover;
      background-position: center;
      z-index: 2;
    }
  
    &::before {
      top: -3px;
      background-image: url("@img/section-overlay.svg");
    }
  
    &::after {
      bottom: -3px;
      background-image: url("@img/section-underlay.svg");
    }
  }
}
/* purgecss end ignore */