@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.feature-card {
	@extend %flex-column;
	row-gap: clamp(16px, 2.4vw, 32px);
	height: 100%;
	padding: clamp(20px, 3vw, 40px);
	border-radius: 15px;
	box-shadow: 5px 5px 20px #d4e4f4;
	background: rgba(255, 249, 253, 0.6);

	&-container {
		height: 100%;
		container: feature-card / inline-size;
	}

	@include container-up("feature-card", 440px) {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 20px;

		img {
			grid-row: 1 / 3;
			grid-column: 2/3;
		}
	}

	img {
		width: clamp(80px, 10vw, 160px);
		height: clamp(80px, 10vw, 160px);
		aspect-ratio: 1 / 1;
		object-fit: contain;
		border-radius: 15px;
	}

	.base-subtitle {
	}

	.base-text {
	}
}
