@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";

.info-block {
	@extend %flex-column;
	gap: 4px;

	&__item {
		@extend %flex-align;
		gap: 8px;
		padding: 5px 0;
		@extend %hover-opacity;

		span {
			color: var(--secondary);
		}

		// svg {
		// 	width: 20px;
		// 	min-width: 20px;
		// 	height: auto;
		// 	object-fit: contain;
		// 	fill: var(--secondary);
		// }
	}
}
