include ../../components/_ui/cards/base-card/base-card
include ../../components/blocks/tizzers-block/tizzers-block
section.hero
  .container
    .hero__grid
      .hero__grid-item.hero__grid-item--top-banner
        include ../../components/_ui/sliders/top-banner/top-banner
      .hero__grid-item.hero__grid-item--side
        +base-card({
          headline: 'Действует до 31 января 2025г.',
          title: 'Имплантация “Все-на-4” по лучшей цене в Москве',
          text: 'В стоимость включено: диагностика, 4 имплантата + операция, хирургический набор, анестезия, временный адаптационный протез. В стоимость включено: диагностика, 4 имплантата + операция, хирургический набор, анестезия, временный адаптационный протез.',
          link: {
            tag: 'a',
            href: 'sales.html',
            text: 'Подробнее',
            cls: 'main-btn--outlined'
          },
          price: 'от 199 000 руб.'
        })
      .hero__grid-item.hero__grid-item--tizzers
        +tizzers-block({
          items: [
            {
              img: 'tizzer-img-1',
              text: 'Гарантия пять лет'
            },
            {
              img: 'tizzer-img-2',
              text: 'Небольшой тизер в две строки'
            },
            {
              img: 'tizzer-img-3',
              text: 'Еще какой-то тизер'
            },
            {
              img: 'tizzer-img-4',
              text: 'Еще какой-то тизер'
            },
          ]
        })

  
    
      
        

