extends ../../layouts/base-section/base-section.pug

block variables
  - sectionClass = 'features'
  - sectionContainerClass = ''
  - sectionHeadline = 'Почему выбирают нас'
  - sectionTitle = 'Наши преимущества'
  - sectionText  = ''

block content
  
